/* =========== MOBILE STYLES =========== */

.control-btns button {
  position: fixed;
  cursor: move;
  z-index: 9;
}

.set-btns-position {
  position: absolute;
  right: 1rem;
  top: 5rem;
  z-index: 5;
  height: 5rem;
}

.reset-btns-group {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 5;
  right: 1rem;
  top: 15rem;
  height: 5rem;
  font-family: Audiowide, sans-serif;
  font-size: 1.8rem;
  background: rgba(19, 13, 13, 0.9);
  color: rgb(255, 255, 255, 0.85);
  padding: 0.3rem 3.5rem;
  border-radius: 1rem;
  outline: none;
  border: 2px solid darkslateblue;
  box-shadow: 0 3px 4px 1px rgb(0, 0, 0, 0.4);
  transition: all 0.3s;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgb(44, 37, 87) 50%);
  background-size: 165%;
}

.reset-btns-group::before {
  content: '';
  position: absolute;
  left: 49.1%;
  width: 4px;
  height: 100%;
  background: darkslateblue;
  z-index: -1;
}

.reset-btns-group:hover {
  transform: translateY(-0.08rem);
  box-shadow: 0 3px 3px 2px rgb(0, 0, 0, 0.4);
  background-position: 100%;
}

.reset-btns-group:active {
  transform: translateY(-0.25rem);
  box-shadow: 0 2px 2px 1px rgb(0, 0, 0, 0.4);
  color: rgb(255, 255, 240);
  background-size: 220%;
  background-position: 100%;
}

.reset-btns-left,
.reset-btns-right {
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 100%;
  background: none;
  border: none;
  border-radius: 0px;
  overflow: hidden;
}

.reset-btns-left {
  left: 0;
}

.reset-btns-right {
  right: 0;
}

.reset-btns-left:hover,
.reset-btns-right:hover {
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 10;
}

.control-btns button.pulsing-animation::before {
  position: absolute;
  left: -2px;
  bottom: -2px;
  content: '';
  height: 100%;
  width: 100%;
  border: 2px dotted white;
  opacity: 0.2;
  border-radius: 10px;
  animation: pulsingBorder 2.7s infinite;
}

.control-btns.pulsing-animation button::before {
  position: absolute;
  left: -2px;
  bottom: -2px;
  content: '';
  height: 100%;
  width: 100%;
  border: 2px dotted white;
  opacity: 0.2;
  border-radius: 10px;
  animation: pulsingBorder 2.7s infinite;
}

.start-btn-mobile {
  position: absolute;
  left: 1rem;
  top: 4rem;
  z-index: 5;
}

.hidden {
  display: none;
}

@keyframes pulsingBorder {
  40% {
    transform: scale(1.1, 1.3);
    opacity: 1;
  }
}

@media screen and (orientation:portrait) {
  body::after {
    content: 'Welcome to TETRIS. \A \A To play the game, change screen orientation to lascape.';
    white-space: pre-wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: rgb(136, 255, 0);
    border-left: 4px solid rgb(136, 255, 0);
    padding: 4vh 5rem;
    margin-bottom: 2rem;
    left: 0;
    bottom: 0;
    font-size: 2.4rem;
    font-family: Audiowide, sans-serif;
    background-color: rgba(5, 0, 77, .95);
    text-shadow: 1px 1px black, 2px 2px black;
    box-shadow: inset 0 0 1px 1px white, 0 3px 6px 5px black, inset 1rem 0 1px 1px rgba(255, 255, 255, 0.3);
    z-index: 99;
  }
  button,
  .reset-btns-group {
    display: none;
  }
}